$colors: (
  neutral: (
    50: #FBFCFC,
    100: #F4F5F7,
    200: #ECEEF1,
    300: #E1E3E9,
    400: #CACFD9,
    500: #B3BAC8,
    600: #7C88A0,
    700: #505A6E,
    800: #282D37,
    900: #14161B
  ),
  primary: (
    50: #FEF3F7,
    100: #FCDCE8,
    200: #FBC5D8,
    300: #F9ADC8,
    400: #F57EA9,
    500: #ED1563,
    600: #D21056,
    700: #960C3D,
    800: #5A0725,
    900: #1E020C
  ),
  secondary: (
    50: #F3F7FE,
    100: #DCE8FC,
    200: #B9D0FA,
    300: #96B9F7,
    400: #679AF3,
    500: #1563ED,
    600: #0E4AB4,
    700: #093178,
    800: #05193C,
    900: #020C1E
  ),
  success: (
    50: #F8FDF9,
    100: #EBF8EC,
    200: #DDF3E0,
    300: #C9EDCD,
    400: #A7E1AE,
    500: #77D183,
    600: #3EB84E,
    700: #297B34,
    800: #153D1A,
    900: #0A1F0D
  ),
  warning: (
    50: #FFFDF3,
    100: #FFF8DB,
    200: #FFF3C3,
    300: #FFED9F,
    400: #FFE36F,
    500: #FFD10F,
    600: #CBA400,
    700: #876D00,
    800: #433700,
    900: #221B00
  ),
  alert: (
    50: #FEF5F5,
    100: #FBE1E1,
    200: #F9CDCC,
    300: #F5B0AE,
    400: #EF8886,
    500: #E53935,
    600: #BB1C18,
    700: #7D1310,
    800: #3E0908,
    900: #1F0504
  ),
  dark-mode: (
    50: #414853,
    100: #383F4A,
    200: #363C48,
    300: #333A46,
    400: #2E3542,
    500: #2C3340,
    600: #272F3B,
    700: #252C39,
    800: #232A37,
    900: #121A28
  )
);
