//*Neutral Colors
$neutral-900: get-color(neutral, 900) !default;
$neutral-800: get-color(neutral, 800) !default;
$neutral-700: get-color(neutral, 700) !default;
$neutral-600: get-color(neutral, 600) !default;
$neutral-500: get-color(neutral, 500) !default;
$neutral-400: get-color(neutral, 400) !default;
$neutral-300: get-color(neutral, 300) !default;
$neutral-200: get-color(neutral, 200) !default;
$neutral-100: get-color(neutral, 100) !default;
$neutral-50: get-color(neutral, 50) !default;
$neutral: get-color(neutral, 500);
//*Primary Colors
$primary-900: get-color(primary, 900) !default;
$primary-800: get-color(primary, 800) !default;
$primary-700: get-color(primary, 700) !default;
$primary-600: get-color(primary, 600) !default;
$primary-500: get-color(primary, 500) !default;
$primary-400: get-color(primary, 400) !default;
$primary-300: get-color(primary, 300) !default;
$primary-200: get-color(primary, 200) !default;
$primary-100: get-color(primary, 100) !default;
$primary-50: get-color(primary, 50) !default;
$primary: get-color(primary, 500);
//*Secondary Colors
$secondary-900: get-color(secondary, 900) !default;
$secondary-800: get-color(secondary, 800) !default;
$secondary-700: get-color(secondary, 700) !default;
$secondary-600: get-color(secondary, 600) !default;
$secondary-500: get-color(secondary, 500) !default;
$secondary-400: get-color(secondary, 400) !default;
$secondary-300: get-color(secondary, 300) !default;
$secondary-200: get-color(secondary, 200) !default;
$secondary-100: get-color(secondary, 100) !default;
$secondary-50: get-color(secondary, 50) !default;
$secondary: get-color(secondary, 500);
//*Success Colors
$success-900: get-color(success, 900) !default;
$success-800: get-color(success, 800) !default;
$success-700: get-color(success, 700) !default;
$success-600: get-color(success, 600) !default;
$success-500: get-color(success, 500) !default;
$success-400: get-color(success, 400) !default;
$success-300: get-color(success, 300) !default;
$success-200: get-color(success, 200) !default;
$success-100: get-color(success, 100) !default;
$success-50: get-color(success, 50) !default;
$success: get-color(success, 500);
//*Warning Colors
$warning-900: get-color(warning, 900) !default;
$warning-800: get-color(warning, 800) !default;
$warning-700: get-color(warning, 700) !default;
$warning-600: get-color(warning, 600) !default;
$warning-500: get-color(warning, 500) !default;
$warning-400: get-color(warning, 400) !default;
$warning-300: get-color(warning, 300) !default;
$warning-200: get-color(warning, 200) !default;
$warning-100: get-color(warning, 100) !default;
$warning-50: get-color(warning, 50) !default;
$warning: get-color(warning, 500);
//*Alert Colors
$alert-900: get-color(alert, 900) !default;
$alert-800: get-color(alert, 800) !default;
$alert-700: get-color(alert, 700) !default;
$alert-600: get-color(alert, 600) !default;
$alert-500: get-color(alert, 500) !default;
$alert-400: get-color(alert, 400) !default;
$alert-300: get-color(alert, 300) !default;
$alert-200: get-color(alert, 200) !default;
$alert-100: get-color(alert, 100) !default;
$alert-50: get-color(alert, 50) !default;
$alert: get-color(alert, 500);
//*Shades
$shade-0: get-color(shades, 0) !default;
$shade-100: get-color(shades, 100) !default;
//*Dark Modes
$dark-mode-900: get-color(dark-mode, 900) !default;
$dark-mode-800: get-color(dark-mode, 800) !default;
$dark-mode-700: get-color(dark-mode, 700) !default;
$dark-mode-600: get-color(dark-mode, 600) !default;
$dark-mode-500: get-color(dark-mode, 500) !default;
$dark-mode-400: get-color(dark-mode, 400) !default;
$dark-mode-300: get-color(dark-mode, 300) !default;
$dark-mode-200: get-color(dark-mode, 200) !default;
$dark-mode-100: get-color(dark-mode, 100) !default;
$dark-mode-50: get-color(dark-mode, 50) !default;
$dark-mode: get-color(dark-mode, 500);

//Root Definitions
:root {
  --neutral: #{$neutral};
  --neutral-900: #{$neutral-900};
  --neutral-800: #{$neutral-800};
  --neutral-700: #{$neutral-700};
  --neutral-600: #{$neutral-600};
  --neutral-500: #{$neutral-500};
  --neutral-400: #{$neutral-400};
  --neutral-300: #{$neutral-300};
  --neutral-200: #{$neutral-200};
  --neutral-100: #{$neutral-100};
  --neutral-50: #{$neutral-50};
  --primary: #{$primary};
  --primary-900: #{$primary-900};
  --primary-800: #{$primary-800};
  --primary-700: #{$primary-700};
  --primary-600: #{$primary-600};
  --primary-500: #{$primary-500};
  --primary-400: #{$primary-400};
  --primary-300: #{$primary-300};
  --primary-200: #{$primary-200};
  --primary-100: #{$primary-100};
  --primary-50: #{$primary-50};
  --secondary: #{$secondary};
  --secondary-900: #{$secondary-900};
  --secondary-800: #{$secondary-800};
  --secondary-700: #{$secondary-700};
  --secondary-600: #{$secondary-600};
  --secondary-500: #{$secondary-500};
  --secondary-400: #{$secondary-400};
  --secondary-300: #{$secondary-300};
  --secondary-200: #{$secondary-200};
  --secondary-100: #{$secondary-100};
  --secondary-50: #{$secondary-50};
  --success: #{$success};
  --success-900: #{$success-900};
  --success-800: #{$success-800};
  --success-700: #{$success-700};
  --success-600: #{$success-600};
  --success-500: #{$success-500};
  --success-400: #{$success-400};
  --success-300: #{$success-300};
  --success-200: #{$success-200};
  --success-100: #{$success-100};
  --success-50: #{$success-50};
  --warning: #{$warning};
  --warning-900: #{$warning-900};
  --warning-800: #{$warning-800};
  --warning-700: #{$warning-700};
  --warning-600: #{$warning-600};
  --warning-500: #{$warning-500};
  --warning-400: #{$warning-400};
  --warning-300: #{$warning-300};
  --warning-200: #{$warning-200};
  --warning-100: #{$warning-100};
  --warning-50: #{$warning-50};
  --alert: #{$alert};
  --alert-900: #{$alert-900};
  --alert-800: #{$alert-800};
  --alert-700: #{$alert-700};
  --alert-600: #{$alert-600};
  --alert-500: #{$alert-500};
  --alert-400: #{$alert-400};
  --alert-300: #{$alert-300};
  --alert-200: #{$alert-200};
  --alert-100: #{$alert-100};
  --alert-50: #{$alert-50};
  --dark-mode: #{$dark-mode};
  --dark-mode-900: #{$dark-mode-900};
  --dark-mode-800: #{$dark-mode-800};
  --dark-mode-700: #{$dark-mode-700};
  --dark-mode-600: #{$dark-mode-600};
  --dark-mode-500: #{$dark-mode-500};
  --dark-mode-400: #{$dark-mode-400};
  --dark-mode-300: #{$dark-mode-300};
  --dark-mode-200: #{$dark-mode-200};
  --dark-mode-100: #{$dark-mode-100};
  --dark-mode-50: #{$dark-mode-50};
  --white: #{$shade-0};
  --black: #{$shade-100};
}
